
.primary-btn-interport{
    color: #224497;
    font-weight: 700;
    padding: 9px 17px;
    text-transform: uppercase;
    border: 3px solid #224497 ;
    border-radius: 10px;
    background-color: transparent;
}

.primary-btn-interport:hover {
    background-color: #224497;
    border: 3px solid #224497 ;
    color: white;
    transition: 0.6s;

}
.reg-btn{
    background-color: #27AE6033;
    color: white;
    text-transform: uppercase;
    border: 1px solid #27AE60;
    border-radius: 5px;
    padding: 8px 14px
}